html { 
	overflow-y: scroll; 
}
body { 
	padding-top: 50px; 
}
.redirect-list { 
	margin-bottom: 30px; 
}
.redirList {
	list-style: none;
	padding-left: 0;
}
.longUrl {
	overflow: hidden;
	white-space: nowrap;
}
.deleteUrl {
	font-size: 18px;
	cursor: pointer;

	&:hover {
		color: #cc0000;
	}
}
.menu-link {
	margin-top: 10px;
}